# Example services and site config. Keys in all caps are globally scoped
base: &base
    site_name: <%= node["inaturalist"]["site_name"] %>
    site_name_short: <%= node["inaturalist"]["site_name_short"] %>
    site_url: <%= node["inaturalist"]["site_url"] %>
    <%- if node["inaturalist"]["assets_host"] %>
    assets_host: '<%= node["inaturalist"]["assets_host"] %>'
    <%- end %>
    <%- if node["inaturalist"]["statsd_host"] %>
    statsd_host: '<%= node["inaturalist"]["statsd_host"] %>'
    <%- end %>
    <%- if ! node["inaturalist"]["site_contact"].empty? %>
    contact:
      <%- node["inaturalist"]["site_contact"].each do |key, value| %>
        <%= key %>: <%= value %>
      <%- end %>
    <%- end %>
    logo: logo-small.gif
    logo_large: <%= node["inaturalist"]["logo_large"] %>
    about_url: <%= node["inaturalist"]["about_url"] %>
    help_url: <%= node["inaturalist"]["help_url"] %>
    rest_auth:
        REST_AUTH_SITE_KEY: <%= secure_or_default("rails", "rest_auth") %>
        REST_AUTH_DIGEST_STRETCHES: 10
    rails:
        session_key: <%= secure_or_default("rails", "session_key") %>
        secret: <%= secure_or_default("rails", "secret") %>
    google_analytics:
        tracker_id: <%= secure_or_default("google", "tracker_id") %>
        domain_name: inaturalist.org
    ubio:
        key: <%= secure_or_default("ubio", "key") %>
    yahoo_dev_network:
        app_id: <%= secure_or_default("yahoo", "app_id") %>
    tile_servers:
        observations: http://inaturalist.org/observations/tiles
        tilestache: http://geo.inaturalist.org
        tilestache_public_path: '/home/inaturalist/deployment/TileStache/public'
        windshaft: '//d2c3f9u0bnvga6.cloudfront.net'
    airbrake:
        api_key: '<%= secure_or_default("airbrake", "api_key") %>'
    noreply_email: <%= node["inaturalist"]["noreply_email"] %>
    admin_email: <%= node["inaturalist"]["admin_email"] %>
    help_email: <%= node["inaturalist"]["help_email"] %>
    info_email: <%= node["inaturalist"]["info_email"] %>
    custom_footer: |
        <center>
            Supported by<br/><a href="http://calacademy.org"><img src="http://static.inaturalist.org/wiki_page_attachments/164-original.png" width="150" height="57"/></a>
        </center>
    google_webmaster:
      verification: <%= secure_or_default("google", "webmaster_verification") %>
    s3_bucket: 'static.inaturalist.org'
    memcached: '<%= node["inaturalist"]["memcached_host"] %>'
    facebook:
        namespace: inaturalist
        app_id: <%= secure_or_default("facebook", "app_id") %>
        app_secret: <%= secure_or_default("facebook", "app_secret") %>
        admin_ids: <%= secure_or_default("facebook", "admin_ids") %>
        url: 'https://www.facebook.com/pages/iNaturalistorg/63336575498'
    google:
        simple_key: <%= secure_or_default("google", "simple_key") %>
        client_id: <%= secure_or_default("google", "client_id") %>
        secret: <%= secure_or_default("google", "secret") %>
    twitter:
        key: <%= secure_or_default("twitter", "key") %>
        secret: <%= secure_or_default("twitter", "secret") %>
        url: http://twitter.com/inaturalist
        username: <%= secure_or_default("twitter", "username") %>
    bing:
        key: <%= secure_or_default("bing", "key") %>
    ratatosk:
        name_providers: [col, ubio]
    soundcloud:
        client_id: <%= secure_or_default("soundcloud", "client_id") %>
        secret: <%= secure_or_default("soundcloud", "secret") %>
    x_sendfile_header: 'X-Accel-Redirect'
    flickr:
        key: <%= secure_or_default("flickr", "key") %>
        shared_secret: <%= secure_or_default("flickr", "shared_secret") %>

production:
    <<: *base
